@import url(http://fonts.googleapis.com/css?family=Montserrat|Raleway:400,700);

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/

*{
    margin:0;
    padding:0;
}

body{
    background:#1C193E;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    /*font-style: italic;
    letter-spacing:-1px;*/
}

p{
    font-size: 16px;
    padding: 20px 0px;
}

.section{
    margin:0px;
    height:2000px;
    padding-left: 15px;
    padding-right: 15px;
    width:100%;
    float:left;
    /*text-shadow:1px 1px 2px #f0f0f0;*/
}

.section h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

.section h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin:10px 0px 30px 0px;
}

.section h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin:10px 0px 30px 0px;
}

.black{
    color:#f9f9f9;
    background:#1C193E url(../images/blue-to-white.png) repeat-x bottom left;
    background-size: 100%;
}

.white{
    color:#1C193E;
    background:#f9f9f9 url(../images/white-to-blue.png) repeat-x bottom left;
    background-size: 100%;
}

ul{
    list-style:none;
    padding: 20px 5px 10px 25px;
}

ul li{
    padding-top: 10px;
    padding-bottom: 10px;
}

ul li a{
    font-size: 20px;
    border-radius: 10px;        
}

.black a:link,
.black a:visited{
    display:block;
    color:#f9f9f9;
}

.black a:hover{
    text-decoration:none;
    color:#f0f0f0;
}

.black ul li{
    color:#f9f9f9;
}

.black ul li a{
    display:block;
    color:#f9f9f9;
}

.black ul li a:hover{
    text-decoration:none;
    color:#f0f0f0;
}

.white ul li{
    color:#1C193E;
}

.white ul li a{
    display:block;
    color:#1C193E;
}

.white ul li a:hover{
    text-decoration:none;
    color:#020205;
}

a{
    color:#f9f9f9;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

span.reference{
    position:fixed;
    left:10px;
    bottom:10px;
    font-size:13px;
    font-weight:bold;
}

span.reference a{
    color:#f9f9f9;
    text-shadow:1px 1px 1px #1C193E;
    padding-right:20px;
}

span.reference a:hover{
    color:#ddd;
    text-decoration:none;
}

.current{
    text-decoration: none;
    background-color: #8684A4 !important;
}

.black .nav > li > a:link,
.black .nav > li > a:visited{
  text-decoration: none;
  background-color: #1C193E;
}

.black .nav > li > a:hover,
.black .nav > li > a:active{
  text-decoration: none;
  background-color: #5A52C3;
}

.white .nav > li > a:link,
.white .nav > li > a:visited{
  text-decoration: none;
  background-color: #f9f9f9;
}

.white .nav > li > a:hover,
.white .nav > li > a:active{
  text-decoration: none;
  background-color: #5A52C3;
}

.caption > p{
    font-size: 12px;
}

a.button{
    font-size: 20px;
}

ul.social{
    padding: 10px 0px 0px 0px;
}

.white-on-blue-icon{
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    background: #1C193E url(../images/white-blue-100px-circle.png) no-repeat center;
}

.col-md-6 .work-history{
    padding-left: 40px;
}

.work-history p {
    padding: 5px 0px;
}

.work-history ul{
    padding: 0px;
    margin: 10px 15px;
}

.work-history ul li{
    padding: 5px 5px 0px 0px;
}

.work-history h3 {
    text-decoration: underline;
}

#section2{
    height: 1500px;
}

#section3{
    height: 1000px;
}

.social ul{
    padding-top: 0px;
}